@charset "UTF-8";

.selectGroup {
	height: 39px;
	position: relative;
	padding-top: 13px;
/* 	background: orange; */
	margin-left: 20px;
}

.selectGroup .selectBox {
	margin-top: 9px;	
	width: 80px;
	height: 25px;
	position: absolute;
	top: 0;
	z-index: 1;
	border: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding-left: 5px;
	font-size: 15px;
}

.selectGroup:before {
	content: '';
	position: absolute;
	width: 80px;
	height: 25px;
	z-index: 0;
	margin-top: -5px;
	-webkit-border-radius: 0px 0px 0px 0px/0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px/0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px/0px 0px 0px 0px;
	background-color: white;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
}

.selectGroup:after {
	content: '';
	position: absolute;
	right: 170px;
	width: 30px;
	height: 26px;
	background-color: #6E3C89;
	background-image: url(https://raw.githubusercontent.com/solodev/styling-select-boxes/master/select1.png);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
	margin-top: -5px;
	-webkit-border-radius: 0px 0px 0px 0px/0px 0px 0px 0px;
	-moz-border-radius: 0px 0px 0px 0px/0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px/0px 0px 0px 0px;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
}