@charset "UTF-8";

* {
	font-family: DX명필명조;	
}


/* employee*/
.testbox {
	margin: 0px auto;
	width: 800px;
	height: 550px;
	margin-bottom: 20px;
	/* background: gray; */
}

h1 {
	font-size: 32px;
	font-weight: 300;
	color: #4c4c4c;
	text-align: center;
	padding-top: 10px;
}

form {
	margin: 0 30px;
}

#div-one {
	/* background: purple; */
	width: 740px;
	height: 450px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-top: 10px;
}

#div-one-right {
	margin-left: 70px;
	float: left;
	width: 300px;
	height: 400px;
	/* background: fuchsia; */
}

#div-two {
	/* background: lime; */
	width: 300px;
	height: 400px;
	float: left;
}

#icon {
	display: inline-block;
	width: 30px;
	background-color: #412065;
	padding: 8px 0px 8px 15px;
	margin-left: 15px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	color: white;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 0px #cbc9c9;
}

.help-block {
	text-align: center;
	margin-top: 10px;
}

input[type=text], input[type=password], .selectBox {
	width: 200px;
	height: 39px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
	margin-left: -5px;
	margin-top: 13px;
	padding-left: 10px;
}

input[type=date] {
	width: 200px;
	height: 39px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
	margin-left: -5px;
	margin-top: 13px;
	padding-left: 10px;
}

input:focus {
	outline: none;
}

.selectGroup {
	height: 39px;
	position: relative;
	padding-top: 15px;
	/* background: orange; */
}

.selectGroup .selectBox {
	/* background: silver; */
	width: 205px;
	height: 39px;
	position: absolute;
	top: 0;
	z-index: 1;
	border: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding: 5px 15px;
	margin-left: 3px;
	font-size: 15px;
}

.selectGroup:before {
	content: '';
	position: absolute;
	width: 210px;
	height: 39px;
	z-index: 0;
	margin-left: 58px;
	margin-top: -5px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
}

.selectGroup:after {
	content: '';
	position: absolute;
	right: 30px;
	width: 30px;
	height: 39px;
	background-color: #fff400;
	background-image: url(https://raw.githubusercontent.com/solodev/styling-select-boxes/master/select1.png);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
	margin-top: -5px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
}

#message {
	width: 740px;
	height: 25px;
	text-align: center;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
	color: red;
}

#buttonBox {
	/* background: fuchsia; */
	width: 740px;
	height: 50px;
	margin-top: 5px;
}

#buttonSubBox {
	/* background: lime; */
	margin-left: 210px;
}

.button {
	font-size: 14px;
	font-weight: 600;
	color: white;
	margin: 10px 5px auto;
	display: inline-block;
	text-decoration: none;
	width: 100px;
	height: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #412065;
	-webkit-box-shadow: 0 3px rgba(58, 87, 175, .75);
	-moz-box-shadow: 0 3px rgba(58, 87, 175, .75);
	box-shadow: 0 3px rgba(58, 87, 175, .75);
	position: relative;
}

.button:hover {
	top: 3px;
	background-color: #2e458b;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/* list */
#list-container {
	width: 1000px;
	align-content: center;
	margin: 30px 0px 0px 300px;
	/* background: fuchsia; */
}

#search {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 1000px;
	margin: 0px auto;
	/* background: orange; */
}

#search-form {
	width: 500px;
	float: right;
	/* background: aqua; */
}

.selectGroup-list1 {
	height: 50px;
	position: relative;
	float: left;
	margin-left: 110px;
	/* background: red; */
}

.selectGroup-list1 .selectBox-list1 {
	background: silver;
	width: 120px;
	height: 39px;
	position: absolute;
	top: 0;
	z-index: 1;
	border: none;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding: 5px 15px;
	margin-left: 0px;
	margin-top: 5px;
	font-size: 15px;
}

.selectGroup-list1:before {
	content: '';
	position: absolute;
	width: 110px;
	height: 39px;
	z-index: 0;
	margin-left: 0px;
	margin-top: 5px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	background-color: #fff;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
}

.selectGroup-list1:after {
	content: '';
	position: absolute;
	right: 147px;
	width: 30px;
	height: 39px;
	background-color: #fff400;
	background-image:
		url(https://raw.githubusercontent.com/solodev/styling-select-boxes/master/select1.png);
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
	margin-top: 5px;
	margin-right: 90px;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
	border: solid 1px #cbc9c9;
}

.selectGroup-list1>input[type=text] {
	width: 150px;
	margin-left: 130px;
	margin-top: 5px;
}

#clickBtn {
	float: left;
	width: 60px;
	height: 40px;
	margin-left: 300px;
	margin-top: -40px;
}

#listBtnBox-left {
	width: 1000px;
	height: 50px;
	/* background: yellow; */
}

#new-button1 {
	width: 50px;
	height: 30px;
}

#new-button2 {
	float: right;
	height: 30px;
}

#list-header table {
	width: 1000px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0px auto;
	margin-top: 20px;
	/* background: red; */
}

#list-menu {
	margin: 0px auto;
}

#list-title {
	height: 35px;
	text-align: center;
	background: #006461;
	color: white;
}

#list-content {
	height: 35px;
	text-align: center;
	border-bottom: 1px solid #cccccc;
}

#list-paging {
	width: 1000px;
	text-align: center;
	padding-top: 20px;
	font-size: 15px;
	/* background: green; */
}


/* complete */
#complete-form  {
	margin: 0px auto;
	margin-top: 150px;
	border: 1px solid black;
	width: 500px;
	height: 150px;
	padding-top: 50px;
}

#title-form {
	text-align: center;
}

#title-form span {
	font-size: 25px;
	font-weight: bold;
}

#messageBox>div {
	text-align: center;
	padding-top: 50px;
	font-size: 15px;
}

#button-form  {
	width: 500px;
	height: 50px;
	margin: 0px auto;
}

#button-form div  {
	margin-top: 20px;
	float: right;
}