@charset "UTF-8";

ul li {
	list-style: none;
}

body {
	background: #F2F2F2;
}

*:focus { outline:none; }

.body-container {
	width: 1900px;
	height: 720px;
}

.container-left {
	float: left;
}

.profile {
	border: 0.5px solid white;
	background: white;
	width: 100%;
	height: 480px;
	font-size: 20px;
}

.todo {
	border: 0.5px solid white;
	height: 340px;
	width: 100%;
	margin-top: 10px;
	font-size: 20px;
	background: white;
}

.nav-center {
	float: left;
	margin-left:30px;
	margin-top: 7px;
	width: 57%;
	height: 840px;
/* 	background: aqua; */
}

.container-top{
	height:50px;
	line-height:50px; 
}



.content-top {
	margin-top: 10px;
}

.content-schedule{ 
	width: 840px; 
	height: 230px; 
	clear: both;
	padding: 10px;
	float: left;
}

.weekcalendar {
}

.schedule-list {
	background: yellow;
	float: left;
	height: 250px; 
	width: 220px;
}

.content-bottom{
	margin-top:30px;
}

.content-todayTalk{
	margin-top: 0px;
	width: 500px; 
	height: 580px; 
	float: left; 
	background: pink
}

.content-right{
	float: left;
}

.content-buddy{
	width: 555px; 
	height: 285px; 
	margin-left: 25px; 
	margin-top: 0px;
	background: red;
}

.content-notice{
	width: 555px; 
	height: 285px; 
	margin: 10px 0 0px 25px;  
	background: lime;
}

.timeBtn {
	cursor: pointer;
}

.nav-right {
	float: left;
	height: 840px;
/* 	background: gold; */
	margin-top: 7px;
	margin-left:25px;
}

.content-date {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
}

.content-date ul li {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: -10px;
	font-size: 25px;
}

.content-weather {
	text-align: right;
	height: 200px;
	width: 100%;
}

