@charset "UTF-8";

.header {
	clear: both;
	height: 65px;
	min-height: 65px;
	text-align: left;
	background: #632A7E;
}

.sidebar {
	clear: both;
	width: 85px;
	height: 720px;
	float: left;
	background: #F2F2F2;
	position: relative;
	overflow: hidden;
}

/* header */
.header-left {
	width: 50%;
	height: 65px;
	float: left;
}

.header-right {
	width: 50%;
	height: 65px;
	float: left;
}

.header-menu{
	height: 65px;
	float: right;
}
 
.header-menu i {
	width: 30px;
	height: 30px;
	font-size: 27px;
	margin-top: 20px;
	margin-right: 10px;
	color: white;
}

/*sidebar*/
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.menu-bar {
	width: 100%;
	max-width: 350px;
}

.menu-bar i{
	font-size: 30px;
	color: #848484;
	line-height: 60px;
}

.menu-icon {
	margin: 0 auto;
	width: 85px;
	height: 50px;
	text-align: center;
	padding: 7px 0 8px 0;
	
}

.menu-icon i:hover {
	color: #2ECCFA;
/* 	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-ms-transform: scale(1.15);
	-o-transform: scale(1.15);
	transform: scale(1.15); */
}

.text {
	position: absolute;
	overflow: hidden;
	margin-left: 17px;
	z-index: 1;
	-webkit-reansition: all .5s ease;
	transition: all .5s ease;
	bottom: 0px;
}

.sub-menu {
	vertical-align: middle;
	padding-left: 3px;
	height: 85px;
	display: none;
	background: #9565A4;
	li
	{
	border-bottom
	:
	1px
	solid
	#B6B6B6;
}
}

.sub-menu a {
	display: block;
	color: white;
	padding: 5px;
	transition: all 0.4s ease-out;
	    /*  hover { background-color : #2ECCFA; */
}

.sub-menu a:hover {
	/* color: #2ECCFA; */
	font-weight: bold;
}

}