@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Malgun Gothic", "맑은 고딕", NanumGothic, 나눔고딕, 돋움, sans-serif;
	font-size: 14px;
}

a {
	cursor: pointer;
	color: #000000;
	text-decoration: none;
}

a:hover, a:active {
	color: #F71F22;
}

#wrap{
	width:100%;
	min-width:1200px;
	min-height:800px;
}