@charset "UTF-8";

.board-title {
	float: left;
}

.board-profile {
	background: fuchsia;
	height: 200px;
}

.board-profile2 {
	background: lime;
	mar
}

.choiceStatus{
	margin:20px auto;
	width: 250px;
	height: 150px;
	line-height:40px;
}

.choiceStatus table{
	margin: auto;	
}

.choiceStatus table tr td{
	padding-top : 20px;
}

.status{
	border: 1px solid black;
	margin:20px 0 0 20px;
	background-color: red;
	width: 400px;
	height: 150px;
	line-height:30px;
}

.status table{
	margin: 15px auto;
}

.board-statMemo{
	float: left;
	display: inline-block;
	height: 700px;
	border: 1px solid black;
}

.statMemo table{
	margin: auto;
}

.statMemo table tr{
	height: 40px;
}

.statMemo table tr td{
	border: 1px solid black;
}

.board-detailed{
	float: left;
	height: 700px;
	border: 1px solid black;
}

.detailed{
	height : 500px;
	border: 1px solid black;
}

.detailed table{
	margin: auto;
	width: 900px;
}

.detailed table tr{
	height: 40px;
}

.detailed table tr td{
	border: 1px solid black;
}

.other{
	resize: none;
	width: 450px;
	height: 300px;
	display: none;
}

.sendBtn{
	bottom: 0;
}

.sendBtns{
	bottom: 0;
}