<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="privateAddr">
	<!-- 개인주소록 빠른 등록 -->
	<insert id="insertPrivateAddrSpeed" parameterType="com.of.privateaddr.PrivateAddr">
		INSERT INTO privateAddr(addrNum, empNo, name, tel, email, groupNum)
		VALUES (seq_addr.NEXTVAL, #{empNo}, #{name}, #{tel}, #{email}, #{groupNum})
	</insert>
	
	<!-- 개인주소록 등록 -->
	<insert id="insertPrivateAddr" parameterType="com.of.privateaddr.PrivateAddr">
		INSERT INTO privateAddr(addrNum, empNo, name, tel, email, company, dName, dTel, dAddr, memo, groupNum)
		VALUES (seq_addr.NEXTVAL, #{empNo}, #{name}, #{tel}, #{email}, #{company}, #{dName}, #{dTel}, #{dAddr}, #{memo}, #{groupNum})
	</insert>
	
	<!-- 모달 그룹 등록 -->
	<insert id="modalInsert" parameterType="com.of.privateaddr.PrivateAddr">
		INSERT INTO groupAddr(groupNum, groupType)
		VALUES (seq_group.NEXTVAL, #{groupType})
	</insert>
	
	<!-- 모달 그룹 리스트 -->
	<select id="listModal" resultType="com.of.privateaddr.PrivateAddr">
		SELECT groupNum, groupType
		FROM groupAddr
		ORDER BY groupNum
	</select>
	
	<!-- 개인주소록 리스트 -->
	<select id="listPrivateAddr"  resultType="com.of.privateaddr.PrivateAddr" parameterType="map">
		SELECT addrNum, empNo, name, tel, email, company, p.groupNum, groupType
		FROM privateAddr p
        JOIN groupAddr g ON p.GROUPNUM = g.GROUPNUM
    	WHERE empNo = #{empNo}
    		AND name &gt;= #{kor} || '%' AND name &lt; #{kor2} || '%'
		ORDER BY addrNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<!-- 데이터 개수 -->
	<select id="dataCount" resultType="Integer" parameterType="map" >
		SELECT NVL(COUNT(addrNum),0) 
		FROM privateAddr
		<where>
			empNo = #{empNo}
			<if test="keyword!=null and keyword !='' ">
				AND <include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<!-- 개인주소록 검색 -->
	<sql id="where-list">
		<if test="condition=='name' ">
			name=#{keyword}
		</if>
	</sql>
	
	<!-- 주소록 상세정보 보기 -->
	<select id="readAddress" parameterType="Integer" resultType="com.of.privateaddr.PrivateAddr">
		SELECT addrNum, name, email, tel, company, dName, dTel, dAddr, memo, p.groupNum, g.groupType
		FROM privateAddr p
        JOIN groupAddr g ON p.GROUPNUM = g.GROUPNUM
        WHERE addrNum = #{addrNum}
	</select>
	
	<!-- 주소록 수정 -->	
	<update id="updatePrivateAddr1" parameterType="com.of.privateaddr.PrivateAddr">
		UPDATE privateAddr SET empNo = #{empNo}, name = #{name}, tel = #{tel}, email = #{email}, company = #{company}, dName = #{dName}, dTel = #{dTel}, dAddr = #{dAddr}, memo = #{memo}, groupNum = #{groupNum}
		WHERE addrNum = #{addrNum}
	</update>

	
	
	
	
	
	
	
	
	
	<!-- 주소록 내보내기 -->
	<select id="listAllPrivateAddr" resultType="com.of.privateaddr.PrivateAddr">
		SELECT addrNum, name, tel, email, company, groupType
		FROM privateAddr
		ORDER BY addrNum
	</select>
	
	

	

</mapper>