<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profile">
	
	<select id="readProfile" parameterType="String" resultType="com.of.profile.Profile">
		SELECT p.empNo, intro, imageFilename, pwd, tel, email, TO_CHAR(birth, 'YYYY-MM-DD')birth, TO_CHAR(enterDate, 'YYYY-MM-DD')enterDate
		FROM profile p 
		JOIN employee e ON p.empNo = e.empNo
		JOIN career c ON p.empNo = c.empNo
		WHERE p.empNo = #{empNo}
	</select>

	<update id="updateProfile1" parameterType="com.of.profile.Profile">
		UPDATE profile SET intro=#{intro}, imageFilename=#{imageFilename}
		WHERE empNo=#{empNo}
	</update>
	
	<update id="updateProfile2" parameterType="com.of.profile.Profile">
		UPDATE employee SET pwd=#{pwd}
		WHERE empNo=#{empNo}
	</update>

</mapper>