<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sign">
	<insert id="insertSign" parameterType="com.of.sign.Sign">
		INSERT INTO sign( sNum,	stNum, sDept, sDate, sSubject, sContent, empNo, sEndStep, sCurrStep, startDay)
		VALUES( seq_sign.NEXTVAL, #{stnum}, #{sdept} , SYSDATE, #{ssubject}, #{scontent}, #{empNo}, #{sendStep}, 1, #{startDay})
	</insert>

	<insert id="insertSignFile" parameterType="com.of.sign.Sign">
		INSERT INTO	signFile(sfNum, sNum, sfOriginalfilename, sfSavefilename, sfFilesize)
		VALUES( seq_signFile.NEXTVAL, seq_sign.CURRVAL, #{sfOriginalfilename},	#{sfSavefilename}, #{sfFilesize} )
	</insert>

	<insert id="insertSignPermission" parameterType="com.of.sign.Sign">
		INSERT INTO permission( pNum, pStNum, pEmpNo2, pEmpNo3, pEmpNo4 )
		<choose>
			<when test="pEmpNo4 != 0 ">
				VALUES( seq_permission.NEXTVAL, seq_sign.CURRVAL, #{pEmpNo2},#{pEmpNo3},#{pEmpNo4} )
			</when>
			<when test="pEmpNo3 != 0 ">
				VALUES( seq_permission.NEXTVAL, seq_sign.CURRVAL, #{pEmpNo2},#{pEmpNo3}, null )
			</when>
			<when test="pEmpNo2 != 0 ">
				VALUES( seq_permission.NEXTVAL, seq_sign.CURRVAL, #{pEmpNo2}, null, null )
			</when>
		</choose>
	</insert>
	

	<select id="emplist" resultType="com.of.sign.Sign">
		SELECT e.empNo, name, tel, email, c.enterDate, dType, pType
		FROM employee e
		JOIN history h ON e.empNo = h.empNo
		JOIN career c ON c.empNo = h.empNo
		JOIN dept d ON d.dCode = h.dCode
		JOIN position p ON p.pCode = h.pCode
	</select>

	<select id="readSign" parameterType="map" resultType="com.of.sign.Sign">
		SELECT sSubject, sContent,sDate ,startDay, p.pstNum, pempNo2, pempNo3, pempNo4, sCurrStep
		FROM permission p
		JOIN sign s ON s.snum = p.pstNum
		WHERE p.pstNum = #{valueSnum}
	</select>
	
	<select id="readWriter" parameterType="Integer" resultType="com.of.sign.Sign">
		SELECT s.empno, name, sdept, dType, pType  FROM sign s
			JOIN employee e ON s.empno = e.empno
			JOIN history h ON e.empNo = h.empNo
			JOIN career c ON c.empNo = h.empNo
			JOIN dept d ON d.dCode = h.dCode
			JOIN position p ON p.pCode = h.pCode
		WHERE s.snum = #{valueSnum}
	</select>


	<select id="readEmp" parameterType="Integer" resultType="com.of.sign.Sign">
		SELECT e.empno, name, dType, pType from employee e
			JOIN history h ON e.empNo = h.empNo
			JOIN career c ON c.empNo = h.empNo
			JOIN dept d ON d.dCode = h.dCode
			JOIN position p ON p.pCode = h.pCode
		WHERE e.empno = #{empNo}
	</select>


	<sql id="where-list">
		<choose>
			<when test="condition == 'created' ">
				( TO_CHAR(sDate, 'YYYYMMDD') = #{keyword}
				OR TO_CHAR(sDate, 'YYYY-MM-DD') = #{keyword} )
			</when>
			<when test="condition == 'title'">
				INSTR(sSubject, #{keyword}) &gt; 0
			</when>
			<when test="condition == 'content'">
				INSTR(sContent, #{keyword}) &gt; 0
			</when>
		</choose>
	</sql>
	
	<sql id="val-list">
		<choose>
			<when test="val == 'fini' ">
				sCurrStep = sEndStep AND empNo = #{empNo}  AND sCurrStep != 0
			</when>
			<when test="val == 'wait' ">
				s.empNo = #{empNo}  AND sCurrStep != 0
			</when>
		</choose>
	</sql>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM sign s
		<where>
			<if test="val != null and val != '' ">
				<include refid="val-list"/>
			</if>
		</where>
	</select>

	<select id="listSign" parameterType="map" resultType="com.of.sign.Sign">
		SELECT sNum, stNum ,sSubject, sContent, s.empNo, name ,sDate, sCurrStep, sEndStep
		FROM sign s
		JOIN employee e ON s.empNo=e.empNo
		<where>
			<if test="val != null and val != '' ">
				<include refid="val-list"/>
			</if>
			AND sEndStep != 0  AND sCurrStep != 0
		</where>
		ORDER BY sNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>

<!-- ==============================================수신대기함============================================== -->
	<select id="stepList" parameterType="map" resultType="com.of.sign.Sign">
		SELECT snum,stNum, s.empno, name, dType, pType,sSubject, sContent, sCurrStep, pEmpNO2 pEmpNO
			FROM sign s
				JOIN permission p ON s.snum = p.pstNum
				JOIN employee e ON s.empno = e.empno
				JOIN history h ON e.empNo = h.empNo
				JOIN career c ON c.empNo = h.empNo
				JOIN dept d ON d.dCode = h.dCode
				JOIN position p ON p.pCode = h.pCode
			<where>
			pempNo2 = #{empNo} and sCurrStep = 1
			</where>
		UNION ALL
		SELECT snum,stNum, s.empno, name, dType, pType,sSubject, sContent, sCurrStep, pEmpNO3
			FROM sign s
				JOIN permission p ON s.snum = p.pstNum
				JOIN employee e ON s.empno = e.empno
				JOIN history h ON e.empNo = h.empNo
				JOIN career c ON c.empNo = h.empNo
				JOIN dept d ON d.dCode = h.dCode
				JOIN position p ON p.pCode = h.pCode
			<where>
			pempNo3 = #{empNo} and sCurrStep = 2
			</where>
		UNION ALL
		SELECT snum,stNum, s.empno, name, dType, pType,sSubject, sContent, sCurrStep, pEmpNO4
			FROM sign s
				JOIN permission p ON s.snum = p.pstNum
				JOIN employee e ON s.empno = e.empno
				JOIN history h ON e.empNo = h.empNo
				JOIN career c ON c.empNo = h.empNo
				JOIN dept d ON d.dCode = h.dCode
				JOIN position p ON p.pCode = h.pCode
			<where>
			pempNo4 = #{empNo} and sCurrStep = 3
			</where>
	</select>
	
	<select id="stepCount" parameterType="map" resultType="Integer">
	SELECT sum(cnt) FROM(
		SELECT COUNT(*) cnt 
			FROM sign s
				JOIN permission p ON s.snum = p.pstNum
				JOIN employee e ON s.empno = e.empno
				JOIN history h ON e.empNo = h.empNo
				JOIN career c ON c.empNo = h.empNo
				JOIN dept d ON d.dCode = h.dCode
				JOIN position p ON p.pCode = h.pCode
			<where>
			pempNo2 = #{empNo} and sCurrStep = 1
			</where>
		UNION ALL
		SELECT COUNT(*) cnt
			FROM sign s
				JOIN permission p ON s.snum = p.pstNum
				JOIN employee e ON s.empno = e.empno
				JOIN history h ON e.empNo = h.empNo
				JOIN career c ON c.empNo = h.empNo
				JOIN dept d ON d.dCode = h.dCode
				JOIN position p ON p.pCode = h.pCode
			<where>
			pempNo3 = #{empNo} and sCurrStep = 2
			</where>
		UNION ALL
		SELECT COUNT(*) cnt
			FROM sign s
				JOIN permission p ON s.snum = p.pstNum
				JOIN employee e ON s.empno = e.empno
				JOIN history h ON e.empNo = h.empNo
				JOIN career c ON c.empNo = h.empNo
				JOIN dept d ON d.dCode = h.dCode
				JOIN position p ON p.pCode = h.pCode
			<where>
			pempNo4 = #{empNo} and sCurrStep = 3
			</where>
			) a
	</select>
	
<!-- ==============================================결재 승인============================================== -->	
	<update id="updateScurrStep" parameterType="Integer">
		UPDATE sign 
		SET sCurrStep = sCurrStep + 1
		WHERE sNum = #{sNum}
	</update>
<!-- ==============================================결재완료함============================================== -->
	<select id="finishSignList" resultType="com.of.sign.Sign">
		SELECT sNum,stNum , sDept, sDate, startDay, sSubject, sContent, sEndStep, sCurrStep, empNo, pEmpNo2,pEmpNo3,pEmpNo4
		FROM sign s
		JOIN permission p ON s.sNum = p.pstNum
		<where>
			sEndStep = sCurrStep AND empNo = #{empNo} AND sCurrStep != 0
		</where>
		ORDER BY sNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
<!-- ==============================================결재함 통합 검색============================================== -->
	<select id="searchlist" parameterType="map" resultType="com.of.sign.Sign">
		SELECT *
		FROM sign s
		<where>
			<if test="keyword != null and keyword != '' ">
				<include refid="where-list" />
			</if>
			AND empNo = #{empNo}
		</where>
	</select>
	
<!-- ==============================================반려함 관련============================================== -->
	<insert id="insertReturnSign" parameterType="map">
		INSERT INTO returnSign(rNum, rsNum, writer, rReason)
		 VALUES (SEQ_ReturnSign.NEXTVAL, #{sNum}, #{writer}, #{rReason})
	</insert>
	<update id="updateScurrStepReturn" parameterType="Integer">
		UPDATE sign SET sCurrStep = 0
		WHERE sNum = #{sNum}
	</update>
	
	<select id="returnSignList" parameterType="map" resultType="com.of.sign.Sign">
		SELECT rNum, rsNum,stNum ,writer, name , sSubject, sContent, startDay, sNum
		FROM returnSign r
		JOIN sign s ON r.rsNum = s.sNum
		JOIN employee e ON r.writer = e.empNo
		WHERE writer = #{empNo}
		ORDER BY rNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="returnDataCount" parameterType="Integer" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM returnSign
		WHERE writer = #{empNo} 
	</select>
	
	
	<select id="readReturnSign" parameterType="map" resultType="com.of.sign.Sign">
		SELECT sSubject, sContent, sDate ,startDay, p.pstNum, pempNo2, pempNo3, pempNo4, sCurrStep, rReason
		FROM permission p
		JOIN sign s ON s.snum = p.pstNum
		JOIN returnSign r ON s.sNum = r.rsNum 
		WHERE p.pstNum = #{valueSnum}
	</select>
	
<!-- ==============================================임시보관함============================================== -->
	
	<insert id="insertStorage" parameterType="com.of.sign.Sign">
		INSERT INTO storage( sNum,	stNum, sDept, sDate, sSubject, sContent, empNo, sEndStep, sCurrStep, startDay, sfOriginalfilename, sfSavefilename, sfFilesize
							,pEmpNo2, pEmpNo3, pEmpNo4, )
		VALUES( seq_sign.NEXTVAL, #{stnum}, #{sdept} , SYSDATE, #{ssubject}, #{scontent}, #{empNo}, #{sendStep}, 1, #{startDay}
		 					,#{sfOriginalfilename},	#{sfSavefilename}, #{sfFilesize}, #{pEmpNo2},#{pEmpNo3},#{pEmpNo4})
	</insert>
</mapper>