<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="talk">
	<insert id="insertTalk" parameterType="com.of.talk.Talk">
		INSERT INTO talk(talkNum, writer, content, created)
			VALUES(seq_talk.NEXTVAL, #{writer}, #{content}, SYSDATE)
	</insert>
	
	<select id="dataCount" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM talk
	</select>
	
	<select id="listTalk" parameterType="map" resultType="com.of.talk.Talk">
		SELECT talkNum, writer, name, content, created 
		FROM talk t 
		JOIN employee e ON writer=empNo 
		ORDER BY talkNum DESC 
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY	
	</select>
	
	<delete id="deleteTalk" parameterType="map">
		DELETE talk WHERE talkNum=#{talkNum}	
	</delete>

</mapper>